extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Gudangku
			small it all starts here
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Nama Barang
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/teknisi/add')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								.form-group
									label
										| nama
									input(type='text',value='#{nama}',name='nama',placeholder='Enter nama', autofocus).form-control
								.form-group
									label
										| alamat
									input(type='text',name='alamat',placeholder='Enter alamat').form-control
								.form-group
									label
										| hp
									input(type='text',value='#{hp}',name='hp',placeholder='Enter hp').form-control
								.form-group
									label
										| kode_pegawai
									input(type='text',name='kode_pegawai',placeholder='Enter kode_pegawai').form-control
							.box-footer
								button(type='submit').btn.btn-primary
									| Submit
								a(href='/teknisi').btn.btn-primary.pull-right
									| Back